
* {
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0 auto;
}

header {
    border-bottom: #000;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
h2 {
    font-size: 20px;
}
main {
    height: 600px;
    width: 600px;
}
ul {
    display: flex;
    list-style-type: none;
}
#start {
    display: flex;
}

div, p {
    display: flex;
    font-size: 30px;
    
}

button {
    font-size: 14px;
    height: 30px;
    width: 80px;
}

/* boxes */
#outside-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 500px;
    width: 500px;
}
#topleft {
    height: 50%;
    width: 50%;
    background-color: #C31B01;
    border-top-left-radius: 40em;
    border: 10px solid #000;
}

#topright {
    height: 50%;
    width: 50%;
    background-color: #2CBD02;
    border-top-right-radius: 40em;
    border: 10px solid #000;
}
#bottomleft {
    height: 50%;
    width: 50%;
    background-color: #0458DA;
    border-bottom-left-radius: 40em;
    border: 10px solid #000;
}
#bottomright {
    height: 50%;
    width: 50%;
    background-color: #DEB51F;
    border-bottom-right-radius: 40em;
    border: 10px solid #000;
}

#inside-box {
    position: absolute;
    background-color: grey;
    height: 50%;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    align-items: center;
    border-radius: 50%;
    border: 10px solid #000;
}