
* {
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0 auto;
}

header {
    border-bottom: #000;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
main {
    height: 600px;
    width: 600px;
}
ul {
    display: flex;
    list-style-type: none;
    height: 2
}
#start {
    display: flex;
}

div, p {
    display: flex;
}

button {
    font-size: 14px;
    height: 30px;
    width: 80px;
}

/* boxes */
#outside-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 500px;
    width: 500px;
}
#topleft {
    height: 50%;
    width: 50%;
    background-color: rgba(155, 17, 17, 0.968);
}
#topright {
    height: 50%;
    width: 50%;
    background-color: rgb(32, 123, 32);
}
#bottomleft {
    height: 50%;
    width: 50%;
    background-color: rgb(34, 34, 223);
}
#bottomright {
    height: 50%;
    width: 50%;
    background-color: rgba(235, 235, 83, 0.934);
}

#inside-box {
    position: absolute;
    background-color: grey;
    height: 50%;
    width: 50%;
    left: 50%;
    margin-left: -25%;
}